<%- include("../../partials/header")%>

<div class="container">
  <hr>
  <div class="card mt-5">
    <div class="card-header">
     <h3> Cadastro de atividades</h3>
    </div>
    <div class="card-body">
    <form action="/activities/save" method="POST">
          <label>Titulo da atividade</label>
    <input type="text" name="title" class="form-control"><br>
          <label>Escolha a materia</label>
    <select name="matter" class="form-control">
            <% matter.forEach((matte)=> {%>
              <option value="<%=matte.id%>"><%=matte.name%></option>
           <% })%>
            
          </select><br>
          <label>Url para download</label>
    <input type="text" name="url" class="form-control"><br>
          <label>Data de entrega</label>
    <input type="date" name="date" class="form-control"><br>

    <button type="submit" class = "btn btn-primary">Cadastrar</button>
  </form>
    </div>
  </div>

</div>

<%- include("../../partials/footer")%>