<%- include("../../partials/header")%>

<div class="container">
  <hr>
  <div class="card mt-5">
    <div class="card-header">
     <h3> Cadastrar materia </h3>
    </div>
    <div class="card-body">
    <form action="/matter/save" method="POST">
          <label>Titulo da materia</label>
    <input type="text" name="name" class="form-control"><br>

    <button type="submit" class = "btn btn-primary">Cadastrar</button>
  </form>
    </div>
  </div>

</div>

<%- include("../../partials/footer")%>