<%- include("../../partials/header")%>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% matter.find(matterOne => {%>
    <tr>
      
      <td><%=matterOne.id%></td>
      <td><%=matterOne.name%></td>
      <td><a href="/admin/matter/edit" class="btn btn-primary">Editar</a><a href="/admin/matter/delete" class="btn btn-danger">Delete</a></td>
    </tr>
   <%})%>
  </tbody>
</table>
<%- include("../../partials/footer")%>